<h1>Read <%- title %></h1>

<div class="align">
    <% for(let i=0; i < data.length; i++) { %>
        <a href="/<%-title%>/detail/<%= data[i]._id %>">
            <div class="storyDiv">
                <img src="<%=data[i].image%>" alt="">
                <p class="title"><%= data[i].title %></p>
                <p>Level: <%= data[i].level %></p>

                <div class="genresDiv">
                    <% data[i].genres.forEach(gen=> { %>
                        <p class="genres"><%= gen %></p>
                        <% }); %>
                </div>
            </div>
        </a>
        <% } %>
        <a href="/stories"><button class="arrowButton">&#8594;</button></a>
</div>